<!DOCTYPE html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}">

  {% include head.html %}

  <body id="page-top">

      {{ content }}

	  {% include footer.html %}

	  <!-- Bootstrap core JavaScript -->
	  <script src="/learning/assets/js/jquery.min.js"></script>
	  <script src="/learning/assets/js/bootstrap.bundle.min.js"></script>

	  <!-- Plugin JavaScript -->
	  <script src="/learning/assets/js/jquery.easing.min.js"></script>

	  <!-- Custom scripts for this template -->
	  <script src="/learning/assets/js/agency.min.js"></script>

      <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  </body>
</html>